body {
    /* position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #E5D1B3; */
    background-color: #DCDBBC;
}

h1 {
    text-align: center;
    color: black;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#time {
    color: #7cb6bf;
}

#start {
    background-color: #73A580;
    /* background-color: #50808E; */
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    border-width: 4px;
    box-shadow: 2px 2px 5px black;
    margin-top: 40px;
    transition: transform 0.4s, box-shadow 0.4s;
}

#start:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 10px black;
}

#gameboard {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
}

.card {
    height: 150px;
    width: 100px;
    /* background-color: gray; */
    margin: 20px;
    perspective: 1500px;
}

.card:hover {
    cursor: pointer;
}

/*
    ADD THIS TO JS FOR CLICK
*/
/* .card:hover .cardContent {
    transform: rotateY(180deg);
} */

.cardContent {
    height: 100%;
    width: 100%;
    position: relative;


    /* ADD THIS TO JS ON CLICK, THEN REMOVE IT:*/
    /* transition: transform 0.8s; */
    transform-style: preserve-3d;
    border: 5px solid #DD614A;
    border-radius: 25px;
    box-shadow: 1px 2px 5px black;
    transition: all 0.4s;
}

.cardContent:hover {
    box-shadow: 2px 4px 15px black;
    transform: scale(1.1);
}

.cardFront, .cardBack {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardFront {
    /* background-color: royalblue; */
    background-image: url("abstract_waves_banner_design_2006.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: hue-rotate(165deg);
    -webkit-filter: hue-rotate(165deg);
}

.cardBack {
    background-color: white;
    transform: rotateY(-180deg);
    color: #232C33;

}

#attribution {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}